<!-- User reviews  section Start -->
<div class="user_reviews d-flex">
    <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
    <div class="user_comment">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <span class="user_name">Shahin Khan</span>
      <div class="review">
        <ul>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
        </ul>
      </div>
    </div>
  </div>
   <div class="read_more_content">
      <a class="read_more_link" data-toggle="collapse" href="#activity_rm" aria-expanded="false" aria-controls="activity_rm">
      Read More...
      </a>
      <div class="collapse" id="activity_rm">
         <div class="card card-body review_body">
           <!-- User reviews  section Start -->
            <div class="user_reviews d-flex">
            <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
            <div class="user_comment">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <span class="user_name">Zoya Habib</span>
              <div class="review">
                <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
           <!-- User reviews  section End -->
            <!-- User reviews  section Start -->
           <div class="user_reviews d-flex">
            <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
            <div class="user_comment">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <span class="user_name">Twinkle Masoor</span>
              <div class="review">
                <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
           <!-- User reviews  section End -->
         </div>
      </div>
   </div>
   <!-- User reviews  section End -->
<div class="reveiw_form_section">
<div class="review_inputs d-flex">
  <label>Your Review:</label>
   <div class="review">
        <ul>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
        </ul>
      </div>
</div>
 <div class="review_inputs d-flex">
  <label>Your Photos:</label>
  <input type="File" placeholder="Upload Now" name="">
</div>
 <div class="review_inputs d-flex">
  <label>Your Message:</label>
  <textarea placeholder="Tyep your message here..."></textarea>
</div>
<div class="review_inputs d-flex">
  <label></label>
  <button type="submit">Post Review</button>
</div>
</div>
<!-- Event Reviews Section End -->
<div class="event_schedule_widget">
<div class="widget_third">
   <h3>Review</h3>
    <!-- schedule part start -->
   <div class="schedule_section text-center d-flex">
      <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/sc_cal_ic.png"><br><span>Add to favourite</span></a></div>
      <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/view_cal_ic.png"><br><span>Add to Calendar</span></a></div>
      <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/call_ic.png"><br><span>Add Review</span></a></div>
      <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/web_ic.png"><br><span>Modify Activity</span></a></div>
   </div>