<section id="family_section_main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="family_carousel_main">
            <img src="assets/img/mobile_screen.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="family_content">
          <h1 class="main-heading-wh">Create family memories</h1>
          <div class="family_sub_text">Find, plan and book the most kid-friendly activities about town.</div>
          <div class="family_cont_point">
            <h3>1. Download QiDZ & Register</h3>
            <p>It’s easy! Download QiDZ and quickly register to access the best deals, ideas and inspiration on kid’s activities, family activities and things to do in your city.</p>
            <h3>2. Be In The Know</h3>
            <p>QiDZ is updated daily with the latest DIY activities, games, online resources and more for kids! You'll also find family entertainment and outings. Get the the best deals, ideas and inspiration all in one place.</p>
            <h3>3. Create Memories</h3>
            <p>Give your family brilliant memories that they will cherish. Whether you're looking for ideas for days at home or inspiration for days out, there’s something for everyone. Download QiDZ now.</p>
            <div class="play_store_buttons d-flex">
              <a href="#"><img src="assets/img/apple_btn.png"></a>
              <a href="#"><img src="assets/img/android_btn.png"></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- ======= create family  Section End ======= -->

  <!-- ======= Second Events Carousel Section End ======= -->
<section id="download_app">
<div class="container">
  <div class="download_app_main">
    <div class="download_app_inner">
      <div class="text-center color-wh">
        <h1 class="main-heading-wh">Download QiDZ Now!</h1>
        <p>Find Plan and book the most kid-friendly activities about town.</p>
      </div>
      <div class="download_buttons">
        <div class="download_btn first_btn">
          <img class="down_ic" src="assets/img/apple_ic.png"><br>
          <a href="#"><img src="assets/img/apple_btn.png"></a>
        </div>
        <div class="download_btn">
          <img class="down_ic" src="assets/img/android_icon.png"><br>
          <a href="#"><img src="assets/img/android_btn.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- ======= Footer start ======= -->
<section id="footer">
<div class="container">
 <div class="row">
   <div class="col-md-3">
     <div class="widget-heading">
       <h3>About Us</h3>
       <img src="assets/img/red_divider.png">
     </div>
     <div class="about">
       <p>QiDZ is here to make your life easier, help you plan and inspire you to have even more fun with your kids! Download QiDZ today and start planning amazing family activities in your city.</p>
     </div>
   </div>
   <div class="col-md-3">
    <div class="widget-heading">
      <h3>Recent Post</h3>
      <img src="assets/img/blue_divider.png">
    </div>
    <div class="recent-post">
      <div class="post-item">
        <img src="assets/img/search/first_event_img.png">
        <div class="post-content">
          <div class="post-heading">Kidzania Back to school 
            Offer</div>
          <span class="post-date">Dec-20-22</span>
        </div>
      </div>
      <div class="post-item">
        <img src="assets/img/search/first_event_img.png">
        <div class="post-content">
          <div class="post-heading">Lorem ipsum dollar sit
            ammet</div>
          <span class="post-date">Dec-20-22</span>
        </div>
      </div>
      <div class="post-item">
        <img src="assets/img/search/first_event_img.png">
        <div class="post-content">
          <div class="post-heading">Kidzania Back to school 
            Offer</div>
          <span class="post-date">Dec-20-22</span>
        </div>
      </div>
    </div>
   </div>
   <div class="col-md-3">
    <div class="widget-heading">
      <h3>Kids Activities</h3>
      <img src="assets/img/red_divider.png">
    </div>
    <div class="activity">
      <ul>
        <li>Kids Collection</li>
        <li>Outdoors</li>
        <li>Indoors</li>
        <li>Popular Activities</li>
      </ul>
    </div>
   </div>
   <div class="col-md-3">
    <div class="widget-heading">
      <h3>Contact</h3>
      <img src="assets/img/blue_divider.png">
    </div>
    <div class="contact">
      <ul>
        <li>121 King St, VIC 3000, 
          Dubai</li>
        <li>(000) 233-3236</li>
        <li><a href="">qidz@somemail.com</a></li>
      </ul>
    </div>
   </div>
 </div>
</div>
</section>

<!-- ======= Footer End======= -->
<!-- ======= Footer Copyright======= -->
<section id="copyright">
  <div class="divider-footer">
    <div class="inner-divider">
      <div class="first-line"></div>
      <div class="second-line"></div>
    </div>
  </div>
  <div class="copyright-section">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text"><p>2021 Copyright Quidz All rights reserved</p></div>
        </div>
      </div>
    </div>
    </div>
</section>