<section id="advertisement" class="advertisement">
  <div class="container">

    <div class="row">
     <div class="col-md-12">
      <div class="ad_banner">
        <div class="ad_banner_inner">

            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="ad_image">
                  <img src="assets/img/banner-ad/banner_01.jpg" alt="ad_01">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="ad_image">
                  <img src="assets/img/banner-ad/banner_02.jpg" alt="ad_02">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="ad_image">
                  <img src="assets/img/banner-ad/banner_03.jpg" alt="ad_03">
                </div>
              </ng-template>
            </owl-carousel-o>
           </div>
        </div>
      </div>
     </div>
    </div>

</section>



  <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 3">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 4">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 5">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/img/slider.jpg" alt="img 6">
      </div>
    </ng-template>
  </owl-carousel-o> -->
