 <!-- terms and condition start -->
 <div class="read_more_content">
    <a class="read_more_link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Read these deals terms and conditions
    </a>
    <div class="collapse" id="collapseExample">
       <div class="card card-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets.</p>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
       </div>
    </div>
 </div>
  <!-- terms and condition start -->
<!-- event first heading section End -->
<!-- event Ad banner section start -->
<div class="event_secondry_detail">
<div class="event_discount_part d-flex">
<div class="event_dis_img"><img src="assets/img/event-dt/dis_img.png"></div>
<div class="event_dis_content">
  <h3>BUY NOW GET 25% OFF</h3>
  <span class="dis_sub_text">Prior Booking is required subject to availability.</span>
  <a href="tel:+971 52 772 9226">Call: +971 52 772 9226</a>
</div>
</div>
</div>
<!-- event Ad banner section End -->