<section id="second_event_cat" class="first_event_cat">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="second_events_section">
          <div class="second_event_section_inner">
            <div class="events_main_heading">
              <h1>Editor’s Picks This Week</h1>
              <a href="#">See All</a>
            </div>
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let content of items">
                <div class="event_box">
                  <div class="events_des_image">
                    <img src="{{content.image}}" alt="ad_01" />
                    <div class="event_code">AED 65</div>
                  </div>
                  <div class="event_description">
                    <h3>What we learn from cooking together with children</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">The Dubai Mall</span>
                        <button type="button" class="btn bn_btn">
                          Book Now!
                        </button>
                      </div>
                      <div class="right_section">
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn rm_btn">
                          Read More
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
