<!-- Home page -->
<!-- <app-header></app-header>
<app-slider></app-slider>
<app-carousel></app-carousel>
<app-carousel-a></app-carousel-a>
<app-carousel-b></app-carousel-b>
<app-carousel-c></app-carousel-c>
<app-carousel-d></app-carousel-d>
<app-explore></app-explore>
<app-carousel-category></app-carousel-category>
<app-ad-section></app-ad-section>
<app-footer></app-footer> -->
<!-- home page end -->

<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<main id="main" class="d-flex">
  <div class="col-md-8">
    <app-top-bar></app-top-bar>
    <app-term-condition></app-term-condition>
    <app-activity></app-activity>
    <app-activity-description></app-activity-description>
    <app-review></app-review>
    <app-schedule></app-schedule>
  </div>
  <div class="col-md-4">
    <app-side-bar></app-side-bar>
  </div>
</main>
<app-footer></app-footer>
