<!-- ======= Filter Section start ======= -->
<div id="page">
  <div class="container">
    <div class="row">
      <div>
        <div class="events_details_main">
          <div class="events_details_inner">
            <div class="events_slider">
              <img src="assets/img/event-dt/event_img.jpg" />
            </div>
            <div class="events_content">
              <!-- event first heading section start -->
              <div class="events_primary_detail">
                <div class="primary_inner d-flex">
                  <div class="eve_pri_headings">
                    <h3>All You Can Eat Breakfast @ Circle Café</h3>
                    <span class="eve_location"
                      ><span style="color: #4bbfba">Theme Parks</span>, Explore
                      The City
                    </span>
                    <div class="eve_tags d-flex">
                      <div class="eve_age tags"><1-1 yrs</div>
                      <div class="eve_tag tags">Baby & Toddlers</div>
                      <div class="eve_tag tags">Classes Workshop & Online</div>
                      <div class="eve_tag tags">Deals</div>
                      <div class="eve_tag deal tags">Deals</div>
                    </div>
                  </div>
                  <div class="eve_booking_btn">
                    <button type="button">Book Now!</button>
                  </div>
                </div>
                <div class="events_period">Limited time only!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- share part start -->
 <div class="share_section text-center d-flex">
    <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/heart_ic.png"><br><span>Add to favourite</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_calendar_ic.png"><br><span>Add to Calendar</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_star_ic.png"><br><span>Add Review</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_modify_ic.png"><br><span>Modify Activity</span></a></div>
    <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_share_ic.png"><br><span>Share Activity</span></a></div>
 </div>
 <!-- share part end -->
